@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');

:root {
    --couleur-menu:#6C6EA0;
    --couleur-page:#EBEBEB;
    --couleur-hover:#FC7755;
    --titre-style:'Audiowide', Sans-serif;
    --titre-para: 'Josefin Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--couleur-page);
}

/*Bouton ajout*/

.btnajoutcontainer{
    display: flex;
    justify-content: flex-end;
}

.btnajoutwrapper{
    width: 30px;
    height: 30px;
    background-color: var(--couleur-menu);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 60px;
    margin-top: 60px;
}

.btnajoutwrapper:hover{
    animation: btn 1s ease-in-out 0s 1 normal forwards;
}

@keyframes btn {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.plus{
    font-size: 2em;
    text-decoration: none;
    color: var(--couleur-page);
    font-weight: bolder;
    
}

.containertitles{
    display: flex;
}

.wrappertitles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.titles{
    text-align: center;
    justify-content: center;
    font-family: var(--titre-style);
    letter-spacing: 2px;
}

/*gite*/

.card{
    display: flex;
    justify-content: space-between;
    background-color: var(--couleur-menu);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 32px;
    margin-bottom: 40px;
    margin-top: 40px;
    box-shadow: 12px 7px 14px 0px #1a1717;
    border: 1px solid #4a4b7096;
    padding-top: 20px;
    padding-bottom: 20px;
}

img{
    width: 392px;
    height: 244px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    border: 1px solid var(--couleur-page);
    border-radius: 10px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 160px;
    
}

button{
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
}

.crudbtn{
    display: flex;
}

.supprimer,
.modifier,
.retour{
    border: none;
    border-radius: 30px;
    color: var(--couleur-page);
    cursor: pointer;
} 


.supprimer{
    background-color: #971A1A;
}

.modifier{
    background-color: #F0950C;
}

.titregite{
    font-family: var(--titre-style);
    letter-spacing: 2px;
    color: var(--couleur-page);
}

p{
    font-family: var(--titre-para);
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: var(--couleur-page);
}

/*page confirmation de suppression*/

.card2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--couleur-menu);
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 32px;
    margin-bottom: 40px;
    margin-top: 40px;
    box-shadow: 12px 7px 14px 0px #1a1717;
}

a{
    text-decoration: none;
    color: var(--couleur-page);
}

.retour{
    background-color: gray;
}