@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');

 body { 
      margin: 0; 
     padding: 0; 

 } 
/********************* Les variables  **********************/
:root {
    --couleur-menu:#6C6EA0;
    --couleur-page:#EBEBEB;
    --couleur-hover:#FC7755;
    --couleur-tranparent:#ebebeb85;
    --titre-style:'Audiowide', Sans-serif;
    --titre-para: 'Josefin Sans', sans-serif;
}
/***** Logo du navbar *****/
.log-menu{
    margin-right: 680px;
}
/******************** Menu Burger ***************************/
input#menuBurger {
    display:none;
}
.contenu{
    transition: margin .5s ease;
    font-family: 'Oswald', sans-serif;
}
.contenu p {
    padding: 10px;
}
nav#navMenu {
    height: 0;
    opacity: 0;
    width: 100%;
    
}
nav#navMenu ul{
    list-style: none;
    
}
nav#navMenu ul li a {
    text-transform: uppercase;
    background: var(--couleur-menu);
    /* border-bottom: 1px solid var(--couleur-hover); */
    font-family: var(--titre-style);
    color: var(--couleur-page);
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
nav#navMenu .link:hover{
    color: var(--couleur-hover);
    background-color: var(--couleur-tranparent); 
    border-bottom: 3px solid var(--couleur-hover);
    text-shadow: 1px 1px 1px var(--couleur-menu);

    
}
label[for="menuBurger"] {
    margin: 1rem;
    display: block;
    width: 30px;
    height: 30px;
}
input#menuBurger:checked ~ .contenu {
    margin-top: 33rem;
}
input#menuBurger:checked ~nav#navMenu {
    transition: opacity 1s;
    opacity: 1;
}
@media  screen and (min-width:37.5rem) {
    body {
        overflow-x: hidden;
    }
    input#menuBurger:checked ~ .contenu {
        margin: 0 0 0 9rem;
    }
    nav#navMenu ul {
        width: 9rem;
    }
    
}
@media screen and (min-width:62.75rem) {
    label[for="menuBurger"]{
        display: none;
    }
    
    nav#navMenu {
        height: auto;
        opacity: 1;
    }
    nav#navMenu ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: auto;
         margin: 1rem auto; 
         background-color: var(--couleur-menu);
         border-bottom: 2px solid var(--couleur-hover);
    }
      
}
#gallery {
    line-height:0;
    -webkit-column-count:3; /* split it into 5 columns */
     -webkit-column-gap:3px; /*give it a 5px gap between columns */
    -moz-column-count:3;
    -moz-column-gap:2px; 
    column-count:3;
     column-gap:3px; 
 }
 #gallery img {
    width: 98% !important;
    height: auto !important;
    margin:5px; /* to match column gap */
    box-shadow: 7px 7px 7px black;
 }
 @media (max-width: 1200px) {
    #gallery {
     -moz-column-count:    4;
     -webkit-column-count: 4;
     column-count:         4;
    }
 }
 @media (max-width: 1000px) {
    #gallery {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
 }
 @media (max-width: 800px) {
    #gallery {
     -moz-column-count:    2;
     -webkit-column-count: 2;
     column-count:         2;
    }
 }
 @media (max-width: 400px) {
    #gallery {
     -moz-column-count:    1;
     -webkit-column-count: 1;
     column-count:         1;
    }
 }

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 300px;
    background: var(--couleur-menu);
}

#paragraphe{
    margin-top: 30px;
    color: var(--couleur-page);
    font-family: var(--titre-para);
    font-size: 30px;
}
.navigation a {
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: center;
}
/* ***** Grands écrans ***** */
.navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}
/* ***** Ecrans moyens ***** */
@media(max-width: 800px){
    .navigation{
        justify-content: center;
    }
}
/* ***** Petit écrans ***** */
@media (max-width: 450px) {
    .navigation {
        flex-flow: column;
    }
    #paragraphe{
        display: none;
    }
    
}
.input{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

input{
    margin-right: 5px;
    width: 25%;
    border-radius: 10px;
    border: 1px solid var(--couleur-menu);
    background-color: var(--couleur-page);
}

 .slideshow{
    margin: 0 auto;
    padding-top: 120px;
    height: 500px;
    perspective: 1000px;

  } 
  .content{
    margin: auto;
    width: 150px;
    perspective: 1000px;
    position:relative;
    padding-top: 80px;
    transform-style: preserve-3d;
  }
  .slider-content{
    width: 100%;
    position:absolute;
    float:right;
    animation: rotate 15s infinite linear;
    transform-style: preserve-3d;
  }
  .slider-content:hover{
    cursor: pointer;
    animation-play-state: paused;
  }
  .slider-content figure{
    width:180px;
    height:120px;
    border:1px solid #555;
    overflow:hidden;
    position:absolute;
  }
  .slider-content img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  
  }
  .slider-content img:hover{
    transform: scale(1.2); 
    transition: all 300ms; 
 } 
 .shadow{ 
    position: absolute; 
    box-shadow: 0px 0px 0px #000; 
 }
 .slider-content figure:nth-child(1){
    transform:rotateY(0deg) translateZ(300px);
  }
   
  .slider-content figure:nth-child(2){
    transform:rotateY(40deg) translateZ(300px);
  }
  .slider-content figure:nth-child(3){
    transform:rotateY(80deg) translateZ(300px);
  }
  .slider-content figure:nth-child(4){
    transform:rotateY(120deg) translateZ(300px);
  }
  .slider-content figure:nth-child(5){
    transform:rotateY(160deg) translateZ(300px);
  }
  .slider-content figure:nth-child(6){
    transform:rotateY(200deg) translateZ(300px);
  }
  .slider-content figure:nth-child(7){
    transform:rotateY(240deg) translateZ(300px);
  }
  .slider-content figure:nth-child(8){
    transform:rotateY(280deg) translateZ(300px);
  }
  .slider-content figure:nth-child(9){
    transform:rotateY(320deg) translateZ(300px);
  }
  @keyframes rotate {
    from{
      transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
  }
 

