@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');

 body { 
      margin: 0; 
     padding: 0; 
    

 } 
/********************* Les variables  **********************/
:root {
    --couleur-menu:#6C6EA0;
    --couleur-page:#EBEBEB;
    --couleur-hover:#FC7755;
    --couleur-tranparent:#ebebeb85;
    --titre-style:'Audiowide', Sans-serif;
    --titre-para: 'Josefin Sans', sans-serif;
}

#log {
    margin-right: 100px;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: var(--couleur-menu);
}
.navigation a {
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: center;
    font-family: var(--titre-style);
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.lien {
    margin-top: 20px;
    font-size: 20px;
}
.navigation a:hover {
    color: var(--couleur-hover);
}

@media(max-width: 800px){
    .navigation {
        justify-content: center;
    }
}
@media(max-width: 450px){
    .navigation {
        flex-flow: column wrap; 
        font-size: 20px;
    }
    

}
/****************************** Bandeaux *******************************************/
.bandeau{
  height: 300px;
  background-color: #fc76550e;
}
#searchbar{
  position:relative;
   width:1040px;
    height:auto;
    margin-left: 10px;
    margin-top: 100px;
   
}
.formulaire{
  display:inline-block;
  /* border: 2px solid var(--couleur-menu); */
}
.formulaire .champ{
  width:600px;
   height:35px;
   border: 2px solid var(--couleur-hover);
  }
.formulaire .bouton{ 
  /* background-image: url(./img/1545.png); */
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  padding: 0; 
  border: 2px solid var(--couleur-hover);
}

/*********************************** Gallery ******************************************/
#gallery {
  margin-top: 5px;
  line-height:0;
  -webkit-column-count:3; /* split it into 5 columns */
  -webkit-column-gap:3px; /* give it a 5px gap between columns */
  -moz-column-count:3;
  -moz-column-gap:3px;
  column-count:3;
  column-gap:3px;
}
#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
}
@media (max-width: 1200px) {
  #gallery {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}
@media (max-width: 1000px) {
  #gallery {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
  }
}
@media (max-width: 800px) {
  #gallery {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }
}
@media (max-width: 400px) {
  #gallery {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
  }
}

#gallery img:hover {
  filter: grayscale(100%);
  transition: filter 2s;
  /* filter:none; */
}
.bloc-paris{
  display: flex;
  position:absolute;
  margin-top: 10px;
}
.titreh3{
  color: #EBEBEB;
  margin: 10px;
  font-size: 1.7em;
  font-family: var(--titre-style);

}
.fr{
  border-radius: 50%;
}
.bloc-rome{
  display: flex;
  position:absolute;
  margin-top: 10px;
}
.titreh13{
  color: black;
  margin: 10px;
  font-size: 1.7em;
  font-family: var(--titre-style);

}
.titreh23{
  color: black;
  margin: 10px;
  font-size: 1.7em;
  font-family: var(--titre-style);

}
.titreh33{
  color: black;
  margin: 10px;
  font-size: 1.7em;
  font-family: var(--titre-style);

}

/***************** Footer ************************************/



  /* * {
  box-sizing: border-box
}
 html, body {
  height: 100%
}  */
body {
	font: 11px "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: auto;
  display: flex;
  flex-flow: column nowrap;  
  justify-content: space-between;
}  
ul {
  list-style: none
}
a {
  text-decoration: none
}
.generic-anchor {
	color: var(--couleur-page);
}
	:visited {
		color: var(--couleur-page);
	}
	:hover {
		color: black;
	}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}


footer {
  background: var(--couleur-menu);
  margin-top: auto;
  width: 100%
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 2.3vw "Oswald", sans-serif
}
.footer-list-anchor {
  font: 1.3em "Open Sans", sans-serif
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid green;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background:var(--couleur-hover);
  padding: 0 15px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 1.5em "Oswald", sans-serif;
  color: #fff
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 3em
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid grey;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1.5em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 1.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 1.4em
  }
  .footer-social-overlap > a {
    font-size: 1.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}