@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');

/* body { */
     /* margin: 0; */
     /* padding: 0; */

/* } */
/********************* Les variables  **********************/
:root {
    --couleur-menu:#6C6EA0;
    --couleur-page:#EBEBEB;
    --couleur-hover:#FC7755;
    --titre-style:'Audiowide', Sans-serif;
    --titre-para: 'Josefin Sans', sans-serif;
}
/***** Logo du navbar *****/
.log-menu{
    margin-right: 250px;
}
/******************** Menu Burger ***************************/
input#menuBurger {
    display:none;
}
.contenu{
    transition: margin .5s ease;
    font-family: 'Oswald', sans-serif;
}
.contenu p {
    padding: 10px;
}
nav#navMenu {
    height: 0;
    opacity: 0;
    
    
}
nav#navMenu ul{
    list-style: none;
    
}
nav#navMenu ul li a {
    text-transform: uppercase;
    background: var(--couleur-menu);
    /* border-bottom: 1px solid var(--couleur-hover); */
    font-family: var(--titre-style);
    color: var(--couleur-page);
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
nav#navMenu a:hover{
    color: var(--couleur-hover);
    background-color: var(--couleur-page);
    padding-bottom: 2px;
    border-bottom: 3px solid var(--couleur-hover);
    text-shadow: 1px 1px 1px var(--couleur-menu);

    
}
label[for="menuBurger"] {
    margin: 1rem;
    display: block;
    width: 30px;
    height: 30px;
}
input#menuBurger:checked ~ .contenu {
    margin-top: 33rem;
}
input#menuBurger:checked ~nav#navMenu {
    transition: opacity 1s;
    opacity: 1;
}
@media  screen and (min-width:37.5rem) {
    body {
        overflow-x: hidden;
    }
    input#menuBurger:checked ~ .contenu {
        margin: 0 0 0 9rem;
    }
    nav#navMenu ul {
        width: 9rem;
    }
    
}
@media screen and (min-width:62.75rem) {
    label[for="menuBurger"]{
        display: none;
    }
    
    nav#navMenu {
        height: auto;
        opacity: 1;
    }
    nav#navMenu ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: auto;
         margin: 1rem auto; 
         background-color: var(--couleur-menu);
         border-bottom: 2px solid var(--couleur-hover);
    }
      
}
/* ********************** Contenu de page ***********************/
.contenu {
    display: flex;
    flex-direction: row;
}
/***** Conteneur aux dimensions fixes calées sur un slide *******/
.slider-wrapper {
    width: 792px;
    height: 340px;
     margin: 0; 
    overflow: hidden;
}
/*** * Conteneur des slides qui va être animé sur l'axe X
     * 1. 5 slides de 5 secondes -> animation de 25s
     * 2. 5 slides ->largeur de 500%
*/
.slider {
    list-style: none;
    padding: 0;
    animation: slide 25s infinite linear;
    margin: 0;
    width: 500%;
    overflow: hidden;
}
/*** * Alignement des slides à l'horizontal * ***/
.slide{
    float: left;

} 
/**
  * Tous les 20 %, on décale le conteneur de 20% sur la gauche
  * pour faire place au slide suivant.
  * Afin que le slider reste fixe durant le temps d'un slide.
  * On limite les déplacements sur des intervalles de 1%.
*/
@keyframes slide {
    0%, 19% {transform: translateX(0);  }
    20%, 39% {transform: translateX(-20%);  }
    40%, 59% {transform: translateX(-40%);  }
    60%, 79% {transform: translateX(-60%);  }
    80%, 99% {transform: translateX(-80%);  }
    100%, 119% {transform: translateX(-100%);  }
    120%, 39% {transform: translateX(-120%);  }
    140%, 159% {transform: translateX(-140%);  }
    160%, 179% {transform: translateX(-160%);  }
    180%, 199% {transform: translateX(-180%);  }
    200%, 0% {transform: translateX(-200%);  }
    
}  

/******************************** Galerie d'images ***********************************/
.grid {
    list-style: none;
    padding: .5em;
    display: grid;
    grid-auto-flow: row;
 
    grid-template-columns: 1fr;
}

.grid-item {
    margin: .5em;
}
.grid-item:first-of-type {
    grid-area: 1 / 1 / span 2 / span 2;
}
.grid-item img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
}
@media (min-width: 400px) {
    .grid { grid-template-columns: 1fr 1fr};
}

@media (min-width: 600px) {
    .grid { grid-template-columns: 1fr 1fr 1fr};
}

@media (min-width: 800px) {
    .grid { grid-template-columns: 1fr 1fr 1fr 1fr};
}

@media (min-width: 1000px) {
    .grid { grid-template-columns: 1fr 1fr 1fr 1fr 1fr};
}
@media (min-width: 1200px) {
    .grid { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr};
}
@media (min-width: 1400px) {
    .grid { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr};
}
    
    
    
    
    
    

/* ************************ Footer **************************** */
/* footer{ */
    /* display: flex; */
    /* background: var(--couleur-menu); */
    /* justify-content: space-around; */
/* } */

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: var(--couleur-menu);
}

#paragraphe{
    margin-top: 30px;
    color: var(--couleur-page);
    font-family: var(--titre-para);
    font-size: 30px;
}
.navigation a {
    display: block;
    padding: 1em;
    text-decoration: none;
    text-align: center;
}
/* ***** Grands écrans ***** */
.navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;

}
/* ***** Ecrans moyens ***** */
@media(max-width: 800px){
    .navigation{
        justify-content: center;
    }
}
/* ***** Petit écrans ***** */
@media (max-width: 450px) {
    .navigation {
        flex-flow: column;
    }
    #paragraphe{
        display: none;
    }
    
}


